[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
Type=simple
ExecStart=/home/{{ github_runner_user_group }}/run.sh
WorkingDirectory=/home/{{ github_runner_user_group }}
StandardOutput=append:/var/log/gitlab-runner.log
StandardError=append:/var/log/gitlab-runner.log
Restart=always
RestartSec=3
User={{ github_runner_user_group }}
Group={{ github_runner_user_group }}

[Install]
WantedBy=multi-user.target
